html {
    font-family: sans-serif;
  }
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #3E76C2;
}

.content{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    height: auto;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: 4px 6px 17px 0px #353535;
    padding: 5px;
}

.errorMessage{
    font-size: 12px;
    color: #ea5353;
    margin-top: 5px;
}

label{
    color: #87b9ff;
    font-size: 14px;
    margin-bottom: 5px;
}

input{
    height: 30px;
    border: 1px solid #83b7ff;
    border-radius: 3px; 
    padding: 0px 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555
}

.mx-input {
    border: 1px solid #83b7ff !important;
}

.mx-datepicker{
    width: 100% !important;
}

.scroll{
    height: 350px;
    padding: 5px;
}

@media screen and (max-width: 600px){
    .content{
        align-items: baseline;
        margin-top: 50px;
    }
    .scroll{
        height: 100vh;
    }
    .card{
        width: 95%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .card:not(.login){
        /* height: 70vh; */
        width: 450px;
    }
}
